header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 4.375rem;

    border-bottom: 1px solid #bebebe;

    padding: 1.25rem 0;
    padding-right: 10rem;

    margin-bottom: 2.5rem;
}

.logo {
    width: 7rem;

    overflow: hidden;

    > img {
        width: 100%;
    }
}

.input {
    width: 45rem;
    height: 38px;
    background-color: #000;

    outline: none;
    border: none;

    padding-left: 0.625rem;

    color: #fff;
    font-size: 1rem;
}
